.day {
  position: relative;
  background: $inactive-row-background;
  overflow: hidden;

  [type="checkbox"] {
    display: none;

    &:checked ~ .day__inner {
      opacity: 1;

      button.available {
        transform: translateX(0);
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    padding: 0 1em 0 3em;
    height: $row-height;
    background-color: $active-row-background;
    opacity: .5;
    transition: opacity $duration $easing;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $border-color;
  }

  &__date {
    flex: 0 0 1.75em;
    position: relative;
    font-size: 2em;
    line-height: 1;
    padding: (($row-height - 2em) / 4) 0;
    padding-right: .25em;
    font-weight: $bold-font-weight;
    text-align: right;
    margin-right: 1em;

    &::after {
      @include position(absolute, 100% null null 100%);
      content: attr(data-month);
      width: $row-height;
      text-align: center;
      font-size: .5em;
      font-weight: $base-font-weight;
      color: $secondary-color;
      text-transform: uppercase;
      transform: rotate(-90deg);
      transform-origin: 0 0;
    }
  }

  .switch {
    position: absolute;
    left: .5em;
    top: 50%;
    margin: -.5em 0;
    z-index: 1;
  }
}

.switch {
  font-size: 1.5em;
  width: 1.5em;
  height: 1em;
  background: $oc-gray-2;
  color: $oc-gray-4;
  border-radius: .5em;
  border: 1px solid currentColor;
  position: relative;
  cursor: pointer;
  transition: background-color $duration $easing;
  -webkit-tap-highlight-color: transparent;

  &__thumb {
    @include position(absolute, -1px null -1px -1px);
    @include size(1em);
    border-radius: 50%;
    border: 1px solid currentColor;
    transition: transform $duration $easing;
    background: $oc-gray-2;
  }

  :checked ~ & {
    background: $oc-lime-6;

    .switch__thumb {
      transform: translateX(.5em);
      background: $active-row-background;
    }
  }
}

.teachers {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: .5em 0;
  margin-right: .75em;
}

.teacher {
  line-height: 1.5;
  border-radius: .75em;
  padding: 0 .5em;
  background: $secondary-color;
  color: $oc-white;
  margin-right: .25em;
  transition: transform $duration $decelerate, opacity $duration $easing;

  &--self {
    background: $oc-blue-6;
  }

  &--out {
    transform: translateX(100vw);
    opacity: 0;
    transition: transform $duration $accelerate, opacity $duration $easing;
  }
}

button.available {
  @include size(2em);
  font-size: 1em;
  flex: 0 0 auto;
  padding: 0;
  background: linear-gradient(to right, transparent 9px, $oc-white 9px, $oc-white 11px, transparent 11px), linear-gradient(to bottom, transparent 9px, $oc-white 9px, $oc-white 11px, transparent 11px);
  background-color: $secondary-color;
  background-size: 1.25em 1.25em;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
  outline: none;
  transition: transform $duration $easing, background-color $duration $easing;
  background-color: $available-color;
  cursor: pointer;
  transform: translateX(4em);
  -webkit-tap-highlight-color: transparent;
}

.day--available [type="checkbox"]:checked ~ .day__inner button.available {
  transform: rotate(-.625turn);
  background-color: $unavailable-color;
}
