$base-font-family: 'Raleway', sans-serif;
$base-font-size: 1em;
$base-font-weight: 400;
$bold-font-weight: 800;
$base-line-height: 1.5;

$background-color: $oc-gray-0;
$foreground-color: $oc-gray-9;
$secondary-color: $oc-gray-6;
$disabled-color: $oc-gray-3;
$header-background-color: $oc-gray-9;
$header-foreground-color: $oc-gray-0;
$action-color: $oc-pink-5;
$border-color: $oc-gray-3;
$active-row-background: $background-color;
$inactive-row-background: $oc-gray-3;
$available-color: $oc-lime-6;
$unavailable-color: $oc-red-6;

$header-height: 3.5em;
$row-height: 3.5em;

$duration: .3s;
$easing: cubic-bezier(0.4, 0.0, 0.2, 1);
$decelerate: cubic-bezier(0.0, 0.0, 0.2, 1);
$accelerate: cubic-bezier(0.4, 0.0, 1, 1);
